<div class="center hero-unit">
  <h1>Welcome to Superkurjers</h1>

  <h2>

  </h2>
</div>
<head>
    <title></title>
  </head>
  <body>
    <p style="text-align: center;">
      <span style="color:#2f4f4f;"><span style="font-size: 20px;"><strong>Who we are?</strong></span></span></p>
    <p>
      <span style="font-size:14px;"><span style="font-family: 'lucida sans unicode', 'lucida grande', sans-serif;"><font color="#2f4f4f"><strong>Superkurjers</strong> is an online courier service which gives you an</font><span style="color: rgb(47, 79, 79);">&nbsp;active and healthy way to keep you in great shape and make you some cash. Our site is the best place for you to find the most interestng offers, delivering products to other people in exchange for money. But the best part can be the way you choose to deliver them..</span></span></span></p>
    <hr />
    <p style="text-align: center;">
      <strong style="color: rgb(47, 79, 79); font-size: 20px;">What we do?</strong></p>
    <p>
      <span style="color: rgb(47, 79, 79); font-family: 'lucida sans unicode', 'lucida grande', sans-serif; font-size: 14px;"><strong>Superkurjers</strong> provides you with offers where you can find the products you want do deliver, the distance, time and most important the way you bring the product to customer. You can do it by walking, by running, while driving a bike or any other way as long as it is acceptable for the customer.</span></p>
    <hr />
    <p style="text-align: center;">
      <strong style="text-align: center; color: rgb(47, 79, 79); font-size: 20px;">How to start?</strong></p>
    <p>
      <span style="color: rgb(47, 79, 79); font-family: 'lucida sans unicode', 'lucida grande', sans-serif; font-size: 14px;">If this sounds interesting to you, just press the Sign up button, fill up the registration form, find the product to deliver and go earn some <strong>cash</strong> while keeping yourself in <strong>shape</strong>! &nbsp;</span></p>
  </body>
